@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@uswds/uswds/css/uswds.css";

.pylon-date-picker {
  .mantine-Calendar-weekday,
  .mantine-Calendar-calendarHeaderLevel {
    font-size: 16px;
  }

  .mantine-Calendar-day.mantine-UnstyledButton-root {
    font-size: 16px;
    font-weight: 500;
    color: black;
    &:where([data-weekend]) {
      color: black;
    }
    &:where([data-outside]) {
      color: black;
      opacity: 0.6;
    }
  }
}
