@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@uswds/uswds/css/uswds.css";

.usa-nav__primary--desktop {
  &.usa-nav__primary--light {
    a,
    span {
      color: #757575;
      &.usa-current {
        color: black;
      }
      &:hover {
        color: #2672de;
      }
    }
    .usa-current::after,
    :hover::after {
      background-color: #2672de;
    }
  }
  &.usa-nav__primary--dark {
    a,
    span {
      color: #e5e5e5;
      &.usa-current {
        color: white;
      }
      &:hover {
        color: #c0d7f8;
      }
    }
    .usa-current::after,
    :hover::after {
      background-color: #c0d7f8;
    }
  }

  .usa-current {
    font-weight: bold;
  }
  .usa-current::after,
  a:hover::after {
    border-radius: 0;
    content: "";
    display: block;
    position: relative;
    height: 0.25rem;
    margin-left: -1rem;
    margin-right: -1rem;
    top: 0.6rem;
  }

  &.current {
    color: white;
  }
}

.pylon-date-picker-root {
  .mantine-DateInput-input {
    width: calc(100% - 50px);
  }

  .pylon-date-picker-button.usa-date-picker__button {
    margin: 0;
    background-color: transparent;
    &:hover {
      background-color: #e6e6e6;
    }
    &:active {
      background-color: #adadad;
    }
  }

  // Don't show the native Mantine dropdown
  .mantine-Popover-dropdown:not(.pylon-date-picker-dropdown) {
    display: none;
  }
}

.pylon-date-picker-dropdown {
  .pylon-date-picker {
    border-radius: 0;
    scale: 1.1;
    transform-origin: top right;

    .mantine-Calendar-weekday,
    .mantine-Calendar-calendarHeaderLevel {
      font-size: 16px;
    }

    .mantine-Calendar-day.mantine-UnstyledButton-root {
      font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
        Arial, sans-serif;

      font-size: 16px;
      padding: 20px 0;
      font-weight: 500;
      border-radius: 0;
      color: black;

      &:where([data-today]) {
        background-color: #0050d8;
        color: #f9f9f9;
      }
      &:where([data-weekend]) {
        color: black;
      }
      &:where([data-outside]) {
        color: black;
        opacity: 0.6;
      }
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}

.usa-pagination > .mantine-Group-root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .usa-button {
    height: 40px;
    width: 40px;
    &:first-child {
      width: auto;
      border: none;
      &::after {
        content: "Previous";
      }
    }
    &:last-child {
      width: auto;
      border: none;
      &::before {
        content: "Next";
      }
    }
    &[data-active] {
      background: black;
      color: white;
    }
  }
}

.usa-step-indicator {
  .usa-step-indicator__segment[data-completed="true"] {
    .mantine-Stepper-stepLabel {
      color: #162e51;
    }
    &::after {
      background-color: #162e51;
    }
  }
  .usa-step-indicator__segment[data-progress="true"] {
    .mantine-Stepper-stepLabel {
      color: #005ea2;
      font-weight: 700;
    }
    &::after {
      background-color: #005ea2;
    }
  }
}
