:where([data-mantine-color-scheme='light']) {

    .pylonCheckboxGroup {
        margin-top: 0;

        .pylonCheckboxLegend {
            color: black;
            margin-top: 0;
            margin-bottom: -1.5px;
        }

        .pylonCheckboxRoot {
            margin-top: 0.75rem;
            &[data-checked='true'] {
                input.pylonCheckboxInput {
                    background-color: #005ea2;
                    border-color: #005ea2;
                }

            }
        }

        .pylonCheckboxLabel {
            font-size: 1.06rem;
            line-height: 1.3;
            &[data-disabled=true] {
                color: #757575;
            }
        }

        input.pylonCheckboxInput {
            border: 2px solid black;
            width: 1.49rem;
            height: 1.49rem;
            background-image: url(/node_modules/@uswds/uswds/dist/img/correct8.svg), linear-gradient(transparent, transparent);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 0.75rem auto;
            &:disabled {
                border-color: #757575;
            }
        }
    }
}